header {
    background-color: aquamarine;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 4px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 20px;
}

input {
    padding: 10px;
    border: 1px solid aquamarine;
    border-radius: 4px;
    outline: none;
}

input:focus {
    border-color: blue;
}

.input-section {
    display: flex;
    flex-direction: column;
}

#input-button {
    display: flex;
    align-self: center;

}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    background-color: greenyellow;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: green;
}

button:active {
    background-color: darkgreen;
    transform: translateY(2px);
}